$bgBtnClr: #16A085;
$bg: #1ABC9C;
$txtUnactiveClr:#BDC3C7;
$txtActiveClr: white;

$cardActive: white;


$radioClr: #34495E;

// black theme
$bgBlack: #2C3E50;
$bgBtnActive: #34495E;
$txtActiveBlack: #1ABC9C;